<section data-ng-controller="LabsController" class="bookingPage">
  <div class="page-header">
    <h1>Booking</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-inline bookingSearch" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <div class="controls">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span ng-bind="department?department:'All Department'"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="" ng-click="changeDepartment()">All Department</a>
                </li>
                <li role="presentation" ng-repeat="department in departments track by $index">
                  <a role="menuitem" tabindex="-1" href=""
                    ng-bind="department"
                    ng-click="changeDepartment($index)"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span ng-bind="floor?floor + ' Floor': 'All Floor' "></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="" ng-click="changeFloor()">All Floor</a>
                </li>
                <li role="presentation" ng-repeat="floor in floors track by $index">
                  <a role="menuitem" tabindex="-1" href=""
                    ng-bind="floor + ' Floor' "
                    ng-click="changeFloor($index)"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input name="lab_name" type="text" data-ng-model="lab_name" id="title" class="form-control" placeholder="lab_name" required>
        </div>
        <div class="form-group">
          <button class="btn btn-default" data-ng-click="find()">Search</button>
        </div>
        <!-- <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div> -->
      </fieldset>
    </form>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <th>序号</th>
        <th>楼栋</th>
        <th>层</th>
        <th>实验室名称</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="lab in labs">
          <td><span ng-bind="$index"></span></td>
          <td>
            <span ng-bind="lab.department"></span>
          </td>
          <td>
            <span ng-bind="lab.floor"></span>
          </td>
          <td>
            <span ng-bind="lab.lab_name"></span>
          </td>
          <td>
            <button class="btn btn-primary"
              ng-hide="lab.owner.id"
              ng-click="bookingLab($index)">预订</button>
            <button class="btn" disabled
              ng-show="lab.owner.id">已预订</button>
            <!-- <button class="btn" disabled
              ng-bind="authentication.user._id"></button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>